// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store-index{
  width: 80px;
  height: 80px;
}

.store-show{
  width: 200px;
  height: 200px;
}